<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">root</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/progetto</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        
        <mapping class="Server.Domain.Carrello"/>
        <mapping class="Server.Domain.Cliente"/>
        <mapping class="Server.Domain.DescrizioneProdotto"/>
        <mapping class="Server.Domain.Ordine"/>
        <mapping class="Server.Domain.Prodotto"/>
        <mapping class="Server.Domain.Referente"/>
        <mapping class="Server.Domain.Supermercato"/>
        
    </session-factory>
    
</hibernate-configuration>
